@import "./../../scss_common/mixin";
@import "./../../scss_common/grid.module.scss";

.rightBarContainer {
    .rightBar__birthday {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .birthday__gift {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            margin: 10px;
        }
        .birthday__text {
            line-height: 20px;
            strong {
                font-weight: 600;
            }
        }
    }

    .rightBar__ads {
        width: 90%;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .rightBar__friendsOnline {
        .friendsOnline__title {
            text-transform: capitalize;
            margin: 10px 0;
            font-weight: 800;
        }
        .friendsOnline__list {
        }
    }
    .rightBar__follow {
        background-color: $main-color;
        color: white;
        display: flex;
        text-align: center;
        align-items: center;
        font-weight: 800;
        border: none;
        margin: 10px;
        padding: 6px;
        letter-spacing: 1px;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
            box-shadow: 0 0 10px $shadow-color, 0 0 20px $shadow-color;
        }
    }
    .rightBar__info {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        .rightBar__info__title {
            text-transform: capitalize;
            font-weight: 500;
            margin-bottom: 10px;
        }
        .rightBar__info__desc {
            margin: 4px 0;
            text-transform: capitalize;
            display: flex;
            .rightBar__info__key {
                width: 120px;
            }
            .rightBar__info__value {
                font-weight: 300;
            }
        }
    }

    .rightBar__following {
        display: flex;
        flex-direction: column;
        .rightBar__following__title {
            text-transform: capitalize;
            font-weight: 500;
            margin-bottom: 10px;
        }
        .rightBar__following__list {
            display: flex;
            flex-wrap: wrap;
            .rightBar__following__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 4px;
                color: black;

                .following__item__img {
                    width: 60px;
                    height: 60px;
                    border-radius: 4px;
                    object-fit: cover;
                    margin-bottom: 10px;
                    cursor: pointer;
                    &:hover {
                        box-shadow: 0 0 10px black;
                        scale: 1.05;
                    }
                }
                .following__item__name {
                    margin-top: 6px;
                    font-weight: 10px;
                    text-transform: capitalize;
                    font-weight: 600;
                    &:hover {
                        color: red;
                        scale: 1.05;
                    }
                }
            }
        }
    }
}

.box__chat {
    position: fixed;
    right: 0;
    left: 60%;
    bottom: 0;
    box-shadow: 0 0 10px 0 black;
    border-radius: 4px;
    z-index: 1;
}
@keyframes showMessage {
    from {
        opacity: 0.4;
        scale: 1.05;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
.box__chat_message {
    min-height: 40vh;
    max-height: 40vh;
    overflow-y: auto;
    background: linear-gradient(rgb(222, 204, 204), rgb(230, 223, 108));

    .your__message {
        background: #009bff;
        margin: 10px;
        border-radius: 10px;
        padding: 10px;
        color: white;
        float: right;
        width: 50%;
        opacity: 0.4;

        animation: showMessage 0.7s 0.2s linear forwards;
    }

    .other__people {
        background: #868686;
        margin: 10px;
        border-radius: 10px;
        padding: 10px;
        color: white;
        text-align: left;
        float: left;
        width: 50%;
        opacity: 0.4;

        animation: showMessage 0.7s 0.2s linear forwards;
    }
}

.send__box {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
}
.box__chat__name {
    background-color: $main-color;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px;
    flex: 20px;
    color: white;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
}
textarea {
    width: 80%;
    background: #ebf5ff;
    border-radius: 8px;
    float: left;
    padding: 10px;
}

.send__box__button {
    background: #6650ff;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
}
.send__box__button:hover {
    background: black;
}
textarea:focus {
    outline: 0;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #dadada;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
